*.lo
*.o
*.la
.libs
.deps
Makefile
Makefile.in
Console/eos
XrdMqOfs/xrdmqclientmaster
XrdMqOfs/xrdmqclienttest
XrdMqOfs/xrdmqclientworker
XrdMqOfs/xrdmqcryptotest
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
eos.spec
install-sh
libtool
ltmain.sh
missing
doxy.log
doxydoc
*~
Namespace/tests/*_test
Namespace/tests/*_tests
