*.lo
*.o
*.la
*.pyc
.libs
.deps
Makefile
Makefile.in
Console/eos
console/iam.cfg
XrdMqOfs/xrdmqclientmaster
XrdMqOfs/xrdmqclienttest
XrdMqOfs/xrdmqclientworker
XrdMqOfs/xrdmqcryptotest
XrdMqOfs/xrdmqdumper
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
eos.spec
install-sh
libtool
ltmain.sh
missing
doxy.log
doxydoc
*~
Namespace/tests/text_runner
valgrind.supp
eos-log-repair
/build*/
__pycache__
kineticio-dist.tgz
# clion specific configs
/cmake-build*/
/.idea/
# eclipse specific configs
/.settings/
.cproject
.project
.vscode
nbproject
my_clang_cache.cmake
# ccache specific configs
/ccache/
# documentation artifacts
doc/_build/
doc/html/
