[submodule "namespace/ns_quarkdb/qclient"]
	path = namespace/ns_quarkdb/qclient
	url = https://gitlab.cern.ch/eos/qclient.git
[submodule "mgm/cta_interface"]
	path = mgm/cta_interface
	url = https://gitlab.cern.ch/eos/xrootd-ssi-protobuf-interface.git
[submodule "common/backward-cpp"]
	path = common/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
	branch = master
[submodule "common/xrootd-ssi-protobuf-interface"]
	path = common/xrootd-ssi-protobuf-interface
	url = https://:@gitlab.cern.ch:8443/eos/xrootd-ssi-protobuf-interface.git
[submodule "unit_tests/googletest"]
	path = unit_tests/googletest
	url = https://github.com/google/googletest
[submodule "common/grpc-proto"]
	path = common/grpc-proto
	url = https://:@gitlab.cern.ch:8443/eos/grpc-proto.git
[submodule "common/jwt-cpp"]
	path = common/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "quarkdb"]
	path = quarkdb
	url = https://gitlab.cern.ch/eos/quarkdb.git
[submodule "test/microbenchmarks/benchmark"]
	path = test/microbenchmarks/benchmark
	url = https://github.com/google/benchmark
[submodule "common/cppzmq"]
	path = common/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "proto/eos-protobuf-spec"]
	path = proto/eos-protobuf-spec
	url = https://gitlab.cern.ch/eos/eos-protobuf-spec.git
[submodule "fst/css_plugin"]
	path = fst/css_plugin
	url = https://gitlab.cern.ch/eos/css_plugin.git
[submodule "console/parser"]
	path = console/parser
	url = https://github.com/CLIUtils/CLI11.git
