[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=forking
PIDFile=/var/run/nginx.pid
EnvironmentFile=/etc/sysconfig/nginx
ExecStartPre=/bin/sh /etc/sysconfig/nginx
ExecStart=/usr/sbin/nginx -c $NGINX_CONF_FILE
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
