#EOSD=writeback_cache,
EOS_FUSE_DEBUG=0
EOS_FUSE_LOWLEVEL_DEBUG=0
EOS_FUSE_NOACCESS=1
EOS_FUSE_SYNC=0
EOS_FUSE_KERNELCACHE=1
EOS_FUSE_DIRECTIO=0
EOS_FUSE_CACHE=1
EOS_FUSE_CACHE_SIZE=67108864
EOS_FUSE_CACHE_PAGE_SIZE=262144
EOS_FUSE_BIGWRITES=big_writes,
EOS_FUSE_EXEC=0
EOS_FUSE_NO_MT=0
EOS_FUSE_USER_KRB5CC=0
EOS_FUSE_USER_UNSAFEKRB5=0
EOS_FUSE_USER_GSIPROXY=0
EOS_FUSE_USER_KRB5FIRST=0
EOS_FUSE_FALLBACKTONOBODY=0
EOS_FUSE_PIDMAP=0
EOS_FUSE_RMLVL_PROTECT=1
EOS_FUSE_RDAHEAD=0
EOS_FUSE_RDAHEAD_WINDOW=131072
EOS_FUSE_LAZYOPENRO=0
EOS_FUSE_LAZYOPENRW=1
EOS_FUSE_SHOW_SPECIAL_FILES=0
EOS_FUSE_SHOW_EOS_ATTRIBUTES=0
EOS_FUSE_INLINE_REPAIR=1
EOS_FUSE_MAX_INLINE_REPAIR_SIZE=268435456
EOS_FUSE_ENTRY_CACHE_TIME=10
EOS_FUSE_ATTR_CACHE_TIME=10
EOS_FUSE_NEG_ENTRY_CACHE_TIME=30
EOS_FUSE_CREATOR_CAP_LIFETIME=30
EOS_FUSE_FILE_WB_CACHE_SIZE=67108864
EOS_FUSE_MGM_ALIAS=localhost
# This is crucial to have the eosd running properly otherwise it ** hangs **
XRD_RUNFORKHANDLERS=1
