Source: eos
Maintainer: Fabio Luchetti <fabio.luchetti@cern.ch>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 10), cmake (>= 3.3.0), git, libfuse-dev, libattr1-dev, libmicrohttpd-dev, xfslibs-dev, libcurl4-openssl-dev, libleveldb-dev, libzmq3-dev, libsparsehash-dev, libprotobuf-dev (>=3.0.0), protobuf-compiler (>=3.0.0), libsystemd-dev, libreadline-dev, ncurses-dev, libssl-dev, zlib1g-dev, libkrb5-dev, libevent-dev, libhiredis-dev, libjsoncpp-dev, libjemalloc-dev, libdw-dev, libbz2-dev, binutils-dev, libiberty-dev,
 xrootd-libs (= 5.3.4), xrootd-plugins (= 5.3.4),
 xrootd-clients (= 5.3.4), xrootd-client-libs (= 5.3.4), xrootd-client-plugins (= 5.3.4),
 xrootd-server (= 5.3.4), xrootd-server-libs (= 5.3.4), xrootd-server-plugins (= 5.3.4),
 libxrootd-dev (= 5.3.4), libxrootd-private-dev (= 5.3.4),
 libxrootd-client-dev (= 5.3.4), libxrootd-server-dev (= 5.3.4),
 libxrdapputils1 (= 5.3.4), libxrdcrypto1 (= 5.3.4), libxrdcryptolite1 (= 5.3.4), libxrdxml2 (= 5.3.4),
 libxrdutils2 (= 5.3.4), libxrdhttputils1 (= 5.3.4), libxrdserver2 (= 5.3.4), libxrdssilib1 (= 5.3.4),
 libxrdssishmap1 (= 5.3.4), libxrdcl2 (= 5.3.4), libxrdffs2 (= 5.3.4), libxrdposix2 (= 5.3.4),
Homepage: http://eos.web.cern.ch/
Vcs-Git: https://gitlab.cern.ch/dss/eos.git
Vcs-Browser: https://gitlab.cern.ch/dss/eos

Package: eos-client
Architecture: any
Depends: ${shlibs:Depends}, systemd, libxrootd-client-dev (= 5.3.4), xrootd-plugins (= 5.3.4)
Description: EOS client package

Package: eos-fuse
Architecture: any
Depends: ${shlibs:Depends}, eos-client (=${binary:Version}), fuse, systemd, libxrootd-client-dev (= 5.3.4)
Description: EOS FUSE package

Package: eos-fusex
Architecture: any
Depends: ${shlibs:Depends}, eos-client (=${binary:Version}), fuse, libxrootd-client-dev (= 5.3.4)
Description: The new EOS fuse client bundle

Package: eos-test
Architecture: any
Depends: ${shlibs:Depends}, cadaver, bc, davix, jq
Description: The EOS test package

Package: eos-testkeytab
Architecture: any
Description: The EOS testkeytab package
