Source: eos
Maintainer: Jozsef Makai <jozsef.makai@cern.ch>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 10), cmake (>=3.3.0), git, libfuse-dev, libattr1-dev, libmicrohttpd-dev, xfslibs-dev, libcurl4-openssl-dev, libleveldb-dev, libzmq3-dev, libsparsehash-dev, libprotobuf-dev (>=3.0.0), protobuf-compiler (>=3.0.0), libprotobuf10 (>=3.0.0), libsystemd-dev, libreadline-dev, ncurses-dev, libssl-dev, zlib1g-dev, xrootd-client-devel, xrootd-server-devel, xrootd-private-devel
Homepage: http://eos.web.cern.ch/
Vcs-Git: https://gitlab.cern.ch/dss/eos.git
Vcs-Browser: https://gitlab.cern.ch/dss/eos

Package: eos-client
Architecture: any
Depends: ${shlibs:Depends}, libprotobuf10 (>=3.0.0), systemd, xrootd-client
Description: EOS client package

Package: eos-fuse
Architecture: any
Depends: ${shlibs:Depends}, systemd, fuse, xrootd-client
Description: EOS FUSE package
