{
  "name" : "",
  "hostport" : "localhost:1094",
  "remotemountdir" : "/eos/",
  "localmountdir" : "/eos/",
  "mdcachedir" : "/var/eos/fusex/"
  "mdzmqtarget" : "tcp://localhost:1100",
  "mdzmqidentity" : "eosxd",
  "options" : {
    "debug" : 0,
    "lowleveldebug" : 0,
    "debuglevel" : 4,
    "libfusethreads" : 1,
    "md-kernelcache" : 1,
    "md-kernelcache.enoent.timeout" : 5,
    "md-backend.timeout" : 100,
    "data-kernelcache" : 1,
    "mkdir-is-sync" : 1,
    "create-is-sync" : 1,
    "symlink-is-sync" : 1,
    "rename-is-sync" : 1,
    "rmdir-is-sync" : 0,
    "global-flush" : 1,
    "global-locking" : 1,
    "fd-limit" : 65536,
    "no-fsync" : [ ".db", ".db-journal", ".sqlite", ".sqlite-journal", ".db3", ".db3-journal", "*.o" ],
    "overlay-mode" : 000,
    "rm-rf-protect-levels" : 1
    "show-tree-size" : 0,
    "free-md-asap" : 1
  },
  "auth" : {
    "shared-mount" : 1,
    "krb5" : 1,
    "environ-deadlock-timeout" : 100,
    "forknoexec-heuristic" : 1
  },
  "cache" : {
    "type" : "disk",
    "size-mb" : 1000,
    "location" : "/var/eos/fusex/cache/",
    "journal" : " /var/eos/fusex/journal/",
    "read-ahead-strategy" : "dynamic",
    "read-ahead-bytes-nominal" : 1048576,
    "read-ahead-bytes-max" : 8388608
  }

}
