[{
  "name" : "",
  "hostport" : "localhost:1094",
  "remotedir" : "/eos/",
  "localdir" : "/eos/",
  "mdcachehost" : "localhost",
  "mdcacheport" : 6379,
  "mdzmqtarget" : "tcp://localhost:1100",
  "mdzmqidentity" : "eosxd",
  "options" : {
    "debug" : "1",
    "lowleveldebug" : "0",
    "debuglevel" : "5",
    "libfusethreads" : "0",
    "kernelcache" : "1"
  }
}]
