
{
  "name" : "",
  "hostport" : "localhost:1094",
  "remotemountdir" : "/eos/",
  "localmountdir" : "/eos/",
  "statisticfile" : "stats",
  "mdcachedir" : "/var/cache/eos/fusex/md",
  "mdzmqtarget" : "tcp://localhost:1100",
  "mdzmqidentity" : "eosxd",
  "appname" : "",
  "options" : {
    "debug" : 1,
    "debuglevel" : 4,
    "backtrace" : 1,
    "libfusethreads" : 0,
    "hide-versions" : 1,
    "protect-directory-symlink-loops" : 0,
    "md-kernelcache" : 1,
    "md-kernelcache.enoent.timeout" : 0,
    "md-backend.timeout" : 86400,
    "md-backend.put.timeout" : 120,
    "data-kernelcache" : 1,
    "rename-is-sync" : 1,
    "rmdir-is-sync" : 0,
    "global-flush" : 0,
    "flush-wait-open" : 1,
    "flush-wait-open-size" : 262144 ,
    "flush-wait-umount" : 120,
    "flush-nowait-executables" : [ "/tar", "/touch" ],
    "global-locking" : 1,
    "fd-limit" : 524288,
    "no-fsync" : [ ".db", ".db-journal", ".sqlite", ".sqlite-journal", ".db3", ".db3-journal", "*.o" ],
    "overlay-mode" : "000",
    "rm-rf-protect-levels" : 0,
    "rm-rf-bulk" : 0,
    "show-tree-size" : 0,
    "cpu-core-affinity" : 1,
    "no-xattr" : 1,
    "no-eos-xattr-listing" : 0,
    "no-link" : 0,
    "nocache-graceperiod" : 5,
    "leasetime" : 300,
    "write-size-flush-interval" : 10,
    "submounts" : 0,
    "inmemory-inodes" : 16384
  },
  "auth" : {
    "shared-mount" : 1,
    "krb5" : 1,
    "gsi-first" : 0,
    "sss" : 1,
    "ssskeytab" : "/etc/eos/fuse.sss.keytab",
    "oauth2" : 1,
    "environ-deadlock-timeout" : 100,
    "forknoexec-heuristic" : 1
  },
  "inline" : {
    "max-size" : 0,
    "default-compressor" : "none"
  },
  "fuzzing" : {
    "open-async-submit" : 0,
    "open-async-return" : 0,
    "open-async-submit-fatal" : 0,
    "open-async-return-fatal" : 0,
    "read-async-submit" : 0
  },
  "cache" : {
    "type" : "disk",
    "size-mb" : 512,
    "size-ino" : 65536,
    "journal-mb" : 2048,
    "journal-ino" : 65536,
    "clean-threshold" : 85.0,
    "location" : "/var/cache/eos/fusex/cache/",
    "journal" : "/var/cache/eos/fusex/journal/",
    "read-ahead-strategy" : "static",
    "read-ahead-bytes-nominal" : 262144,
    "read-ahead-bytes-max" : 2097152,
    "read-ahead-blocks-max" : 16,
    "max-read-ahead-buffer" : 134217728,
    "max-write-buffer" : 134217728
  },
  "xrdcl" : {
    "TimeoutResolution" : 1,
    "ConnectionWindow": 10,
    "ConnectionRetry" : 0,
    "StreamErrorWindow" : 60,
    "RequestTimeout" : 30,
    "StreamTimeout" : 60,
    "RedirectLimit" : 3,
    "LogLevel" : "None"
  },
   "recovery" : {
     "read-open" : 1,
     "read-open-noserver" : 1,
     "read-open-noserver-retrywindow" : 15,
     "write-open" : 1,
     "write-open-noserver" : 1,
     "write-open-noserver-retrywindow" : 15
   }
}
