# Should we run with another limit on the core file size other than the default?
DAEMON_COREFILE_LIMIT=unlimited

# What roles should the xroot daemon run for. For each role you can overwrite
# the default options using a dedicate sysconfig file
# e.g. /etc/sysconfig/xrd.<role>. The role based mechanism allows for
# multiple xrd's running with different options to be controlled via
# the same initd script
XRD_ROLES="mgm fst mq"


