##################################################################################################################
# in a two master setup, this configuration file is obsolete and automatically setup by the eossync startup script
# see /etc/sysconfig/eos.examplt how to setup the two master hostnames
##################################################################################################################

######################################################################################
export MASTER0_0=root://lxbra0301.cern.ch//var/eos/md/files.lxbra0301.cern.ch.mdlog
export MASTER0_1=root://lxbra0301.cern.ch//var/eos/md/directories.lxbra0301.cern.ch.mdlog
export MASTER1_0=root://lxbra0302.cern.ch//var/eos/md/files.lxbra0302.cern.ch.mdlog
export MASTER1_1=root://lxbra0302.cern.ch//var/eos/md/directories.lxbra0302.cern.ch.mdlog
######################################################################################
export MASTER0_conf=root://lxbra0301.cern.ch//var/eos/config/lxbra0301.cern.ch/
export MASTER1_conf=root://lxbra0302.cern.ch//var/eos/config/lxbra0302.cern.ch/
######################################################################################
export TARGET0=lxbra0301.cern.ch:1096
export TARGET1=lxbra0302.cern.ch:1096
export TARGET2=lxfsrd0302.cern.ch:1096
export TARGET3=lxfsrd0304.cern.ch:1096
######################################################################################

