# ----------------------------------------------------------------------
# File: eossync.example
# Author: Andreas-Joachim Peters - CERN
# ----------------------------------------------------------------------

# ************************************************************************
# * EOS - the CERN Disk Storage System                                   *
# * Copyright (C) 2011 CERN/Switzerland                                  *
# *                                                                      *
# * This program is free software: you can redistribute it and/or modify *
# * it under the terms of the GNU General Public License as published by *
# * the Free Software Foundation, either version 3 of the License, or    *
# * (at your option) any later version.                                  *
# *                                                                      *
# * This program is distributed in the hope that it will be useful,      *
# * but WITHOUT ANY WARRANTY; without even the implied warranty of       *
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        *
# * GNU General Public License for more details.                         *
# *                                                                      *
# * You should have received a copy of the GNU General Public License    *
# * along with this program.  If not, see <http://www.gnu.org/licenses/>.*
# ************************************************************************

##################################################################################################################
# in a two master setup, this configuration file is obsolete and automatically setup by the eossync startup script
# see /etc/sysconfig/eos.examplt how to setup the two master hostnames
##################################################################################################################

######################################################################################
export MASTER0_0=root://lxbra0301.cern.ch//var/eos/md/files.lxbra0301.cern.ch.mdlog
export MASTER0_1=root://lxbra0301.cern.ch//var/eos/md/directories.lxbra0301.cern.ch.mdlog
export MASTER1_0=root://lxbra0302.cern.ch//var/eos/md/files.lxbra0302.cern.ch.mdlog
export MASTER1_1=root://lxbra0302.cern.ch//var/eos/md/directories.lxbra0302.cern.ch.mdlog
######################################################################################
export MASTER0_conf=root://lxbra0301.cern.ch//var/eos/config/lxbra0301.cern.ch/
export MASTER1_conf=root://lxbra0302.cern.ch//var/eos/config/lxbra0302.cern.ch/
######################################################################################
export TARGET0=lxbra0301.cern.ch:1096
export TARGET1=lxbra0302.cern.ch:1096
export TARGET2=lxfsrd0302.cern.ch:1096
export TARGET3=lxfsrd0304.cern.ch:1096
######################################################################################

