#-------------------------------------------------------------------------------
# File: eossync@.service
# Author: Ivan Arizanovic - ComTrade Solutions Engineering
#-------------------------------------------------------------------------------
#
# ************************************************************************
# * EOS - the CERN Disk Storage System                                   *
# * Copyright (C) 2016 CERN/Switzerland                                  *
# *                                                                      *
# * This program is free software: you can redistribute it and/or modify *
# * it under the terms of the GNU General Public License as published by *
# * the Free Software Foundation, either version 3 of the License, or    *
# * (at your option) any later version.                                  *
# *                                                                      *
# * This program is distributed in the hope that it will be useful,      *
# * but WITHOUT ANY WARRANTY; without even the implied warranty of       *
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the        *
# * GNU General Public License for more details.                         *
# *                                                                      *
# * You should have received a copy of the GNU General Public License    *
# * along with this program.  If not, see <http://www.gnu.org/licenses/>.*
# ************************************************************************
[Unit]
Description=EOS-Sync: %i

[Service]
EnvironmentFile=/etc/sysconfig/eos_env
Environment=master00=files
Environment=master01=mdlog
Environment=master10=directories
Environment=master11=mdlog
Environment=master20=iostat
Environment=master21=dump

ExecStart=/usr//sbin/eosfilesync /var/eos/md/${%i0}.${EOS_MGM_HOST}.${%i1}\
root://${EOS_MGM_HOST_TARGET}:1096///var/eos/md/${%i0}.${EOS_MGM_HOST}.${%i1}

Type=simple
User=daemon
Group=daemon
Restart=on-abort
RestartSec=0

[Install]
RequiredBy=multi-user.target
