module eosfuse 1.6;

require {
	attribute domain;
	type initrc_tmp_t;
	type var_log_t;
	type var_run_t;
	type automount_t;
	type automount_var_run_t;
	type mount_t;
	type sshd_t;
	type su_exec_t;
	type tmp_t;
	type var_spool_t;
	type user_tmp_t;
	type device_t;
	class lnk_file { read getattr create };
	class dir add_name;
	class file { write read create setattr getattr unlink ioctl open };
	class process { getpgid noatsecure rlimitinh siginh ptrace };
	class fifo_file { create unlink open };
	class capability { net_admin sys_ptrace };
}

#============= automount_t ==============
allow automount_t initrc_tmp_t:file write;
allow automount_t automount_var_run_t:lnk_file create;
allow automount_t user_tmp_t:file { create unlink };
allow automount_t var_spool_t:lnk_file { create read };
allow automount_t mount_t:process { noatsecure rlimitinh siginh };
allow automount_t self:process ptrace;
allow automount_t device_t:file { open read write ioctl };
allow automount_t self:capability { net_admin sys_ptrace };

#============= mount_t ==============
allow mount_t var_log_t:dir add_name;
allow mount_t var_log_t:file { create setattr };
allow mount_t var_run_t:lnk_file { read getattr };
allow mount_t domain:process getpgid;
allow mount_t self:process signull;
allow mount_t self:process ptrace;
allow mount_t tmp_t:fifo_file { create unlink open };

#============= sshd_t ==============
allow sshd_t su_exec_t:file getattr;
