#
# eoslcov.rc - EOS config options for LCOV
#

# Specify coverage rate limits (in %) for classifying file entries
# HI:   hi_limit <= rate <= 100         graph color: green
# MED: med_limit <= rate <  hi_limit    graph color: orange
# LO:         0  <= rate <  med_limit   graph color: red
genhtml_hi_limit = 70
genhtml_med_limit = 50

# Specify if branch coverage should be enabled
lcov_branch_coverage = 1
genhtml_branch_coverage = 1
