# systemd service unit file for eosapmond
# Author: Gianmaria Del Monte <gianmaria.del.monte@cern.ch>
# Description: Systemd service to start apmon for monitoring xrootd on EOS

[Unit]
Description=Starts apmon to monitor xrootd on EOS
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=5

[Service]
ExecStartPre=/bin/sh -c "echo PERL5LIB=\$(perl -V:installsitearch | cut -d \"'\" -f 2)/ApMon > /run/eosapmond.env"
EnvironmentFile=/run/eosapmond.env
EnvironmentFile=-/etc/sysconfig/eos
EnvironmentFile=-/etc/sysconfig/eos_env
ExecStart=/usr/sbin/eos_apmond /usr/sbin/eos_apmonpl /var/log/eos/apmon/apmon.log ${MONALISAHOST:-"undef"} ${APMON_DEBUG_LEVEL:-"WARNING"} ${APMON_INSTANCE_NAME:-"unconfigured"} ${HOSTNAME}
ExecStopPost=/bin/rm -f /run/eosapmond.env
User=daemon
Restart=always

[Install]
WantedBy=multi-user.target
